{%extends "base2.html"%}

{%block body%}


<div class="container">
  <nav class="navbar navbar-default navbar-expand-lg" role="navigation">
   <ul class="nav navbar-nav mr-auto navbar-left">
      <li>
        <form class="navbar-form form-inline mx-4 my-lg-3" action="#" role="search">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control input-lg" id="navbarInput-01" type="search" placeholder="misal: kelapa sawit">
              <span class="input-group-btn">
              <button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </nav>
      <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" >
          <h4 class="text-center"><span class="label label-info">Input Label of Picture</span></h4>
          <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3>Galaxy S5</h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h3>
                <label>$input Price</label></h3>
              </div>
            </div>
            <p>Make Description</p>
            <div class="row">
              
              <div class="col-md-6">
                <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
            </div>

            <p> </p>
          </div>
        </div>
      </div>
      
            
        </div> 

  </div>
</div>
</div>



{%endblock%}